<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Cadastrar livro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="white-text">Cadastre seus livros</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="white-text">
      Aqui você pode cadastrar seus livros favoritos 📚​
    </ion-card-content>
  </ion-card>
  <ion-item lines="none">
    <ion-label position="floating">Titulo</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Paginas</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Idioma</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Ano de publicação</ion-label>
    <ion-input type="date" placeholder=""></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Edição</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Preço</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-button color="primary" expand="full">Salvar</ion-button>
  <ion-button color="danger" expand="full">Cancelar</ion-button>

</ion-content>

