/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.title{
    text-align:center;
}

:root{
    --ion-font-family: "Padauk";
    --ion-background-color:rgb(43, 43, 43);
    --ion-toolbar-background:rgba(0,0,0,0.6);
    --ion-toolbar-color:#fff;
    --ion-tab-bar-background:rgba(0,0,0,0.6);
    --ion-tab-bar-color:#fff;
    --ion-text-color:#fff;
    --ion-text-color-rgb:255, 255, 255;
}

.first-card{
    background-color:rgba(0,0,0,0.6);
}

.white-text{
    color:#fff;
}

.first-content{
    max-width: 500px;
    margin:auto;
    text-align:center;
}