<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Cadastrar Autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="white-text">Cadastre seus autores</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="white-text">
      Aqui você pode cadastrar seus autores favoritos 📚​
    </ion-card-content>
  </ion-card>
  <ion-item lines="none">
    <ion-label position="floating">Nome do autor</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Nacionalidade</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Sexo</ion-label>
    <ion-select>
      <ion-select-option value="f">Feminino</ion-select-option>
      <ion-select-option value="m">Masculino</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Data Nascimento</ion-label>
    <ion-input type="date" placeholder=""></ion-input>
  </ion-item>
  <ion-button color="primary" expand="full">Salvar</ion-button>
  <ion-button color="danger" expand="full">Cancelar</ion-button>

</ion-content>
