<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <ion-title class="title">
     Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="first-card">
    <ion-card-header>
      <ion-card-subtitle class="white-text">A importância da leitura</ion-card-subtitle>
      <ion-card-title class="white-text">Você já leu para alguém hoje?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="white-text">
      A leitura é algo importante na vida do ser humano. Ler estimula a criatividade, trabalha a imaginação, exercita a memória, contribui com o crescimento do vocabulário e a melhora na escrita, além de outros benefícios.
    </ion-card-content>
  </ion-card>
  <div class="first-content">
    <img class="img1" src="https://blog.simbiox.com.br/wp-content/uploads/2021/04/10_dias_dia_do_livro_thumbnail-1280x720.png" alt="Imagem de um livro"/>
  <p>Se você está procurando por um bom livro, você chegou ao local certo, você também pode adicionar um novo livro e contribuir conosco 👍​</p>
  </div>
<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button expand="full" *ngFor="let rota of rotas" [routerLink]="rota.path" >
      <ion-icon name={{rota.icon}}></ion-icon>
      <ion-label>{{ rota.text }}</ion-label>
     </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>