<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Cadastrar Editora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="white-text">Cadastre suas editoras</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="white-text">
      Aqui você pode cadastrar suas editoras 📚​
    </ion-card-content>
  </ion-card>
  <ion-item lines="none">
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Endereço</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Bairro</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Cep</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Cidade</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Nacionalidade</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">Data de surgimento</ion-label>
    <ion-input type="date" placeholder=""></ion-input>
  </ion-item>
  <ion-button color="primary" expand="full">Salvar</ion-button>
  <ion-button color="danger" expand="full">Cancelar</ion-button>

</ion-content>
